VITE_FIREBASE_EMULATOR=1
VITE_FIREBASE_PROJECT_ID=arch1v-dev
VITE_FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
VITE_FIRESTORE_EMULATOR_HOST=localhost:8080

VITE_SPOTIFY_CLIENT_ID=6936931bedbe49d8ae448889cf49520a
VITE_SPOTIFY_CLIENT_SECRET=bde690fe9a3a451999caf002fffd98d9
VITE_SPOTIFY_REDIRECT_URI=http://localhost:5173/callback/spotify

VITE_YOUTUBE_API_KEY=dummy_for_local

